.footer {
   position: relative;
   bottom: 0;
   background-color: #24242C;
   border-top-right-radius: 95px;
   width: 100%;
   padding: 80px 0;
   display: grid;
   grid-template-columns: 30% 20% 20% 30%;
   color: #fff;
   font-weight: 500;
}

.footer-logo {
   position: relative;
   top: -10px;
   display: flex;
   justify-content: center;
   height: min-content;
}

.section {
   margin-bottom: 40px;
}

.footer-links {
   font-weight: 300;
}

.footer-links li {
   position: relative;
   margin-bottom: 20px;
   opacity: .6;
   cursor: pointer;
   transition: .2s ease;
   width: min-content;
}

.footer-links li::after {
   content: '';
   position: absolute;
   height: 2px;
   width: 100%;
   opacity: 0;
   transition: .2s ease;
   background-color: #fff;
   bottom: 0;
   left: 0;
}

.footer-links li:hover,
.footer-links li:hover:after {
   opacity: .8;
}
